<div class="row">
    <div class="col-md-3">
        <%- include('profile-card') %>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#settings"
                            data-toggle="tab">Configurações</a>
                    </li>
                </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <div class="active tab-pane" id="settings">
                        <form class="form-horizontal" action="/painel-usuario/atualizar-perfil-form"
                            method="post" enctype="multipart/form-data">
                            <div class="form-group row">
                                <label for="nome"
                                    class="col-sm-2 col-form-label">Nome</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="nome"
                                        name="nome" placeholder="<%= usuario.nome %>">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="sobrenome"
                                    class="col-sm-2 col-form-label">Sobrenome</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control"
                                        id="sobrenome" name="sobrenome"
                                        placeholder="<%= usuario.sobrenome %>">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email"
                                    class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="<%= usuario.email %>">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="telefone"
                                    class="col-sm-2 col-form-label">Telefone</label>
                                <div class="col-sm-10">
                                    <input type="tel" class="form-control" id="telefone"
                                        name="telefone" 
                                        placeholder="<%= usuario.telefone %>" minlength="11" maxlength="11" pattern="\d{11}">
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="atual"
                                    class="col-sm-2 col-form-label">Senha Atual</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control"
                                        id="senha" name="atual" placeholder="atual">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="senha"
                                    class="col-sm-2 col-form-label">Nova Senha</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control"
                                        id="senha" name="senha" placeholder="Senha">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="confirmacao"
                                    class="col-sm-2 col-form-label">Confirmar
                                    Senha</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control"
                                        id="confirmacao" name="confirmacao"
                                        placeholder="Repita Senha">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="avatar"
                                    class="col-sm-2 col-form-label">Foto</label>
                                <input type="file" id="avatar" name="avatar" accept="image/*">
                                    <!--<div class="col-sm-10">
                                    <div class="input-group">
                                        
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input"
                                                id="avatar" name="avatar">
                                            <label class="custom-file-label"
                                                for="arquivo"></label>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                    <button type="submit"
                                        class="btn btn-success">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->