<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('../head') %>
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
  <div class="wrapper">
    <%- include('../navbar') %>
    <%- include('../sidebar') %>
  <div class="content-wrapper">
    <%- include('../header') %>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <!-- Profile Image -->
            <div class="card card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle"
                            src="dist/img/avatarElon.webp" alt="User profile picture">
                    </div>
  
                    <h3 class="profile-username text-center"> <%= usuario.nome + " " + usuario.sobrenome %> </h3>
  
                    <!--<p class="text-muted text-center">Usuário</p>-->
  
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Vendas</b> <a class="float-right"> <%= usuario.vendas %> </a>
                        </li>
                        <li class="list-group-item">
                            <b>Trocas</b> <a class="float-right"> <%= usuario.trocas %> </a>
                        </li>
                        <!--<li class="list-group-item">
                            <b>Membro desde</b> <a class="float-right">2023</a>
                        </li>-->
                        <li class="list-group-item">
                            <b>Telefone</b> <a class="float-right"> <%= usuario.telefone %> </a>
                        </li>
                        <li class="list-group-item">
                            <b>Email</b> <a class="float-right"> <%= usuario.email %> </a>
                        </li>
                    </ul>
  
                    <!--<a href="#" class="btn btn-primary btn-block"><b>Reviews</b></a>-->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <!--<li class="nav-item"><a class="nav-link active" href="#aboutme" data-toggle="tab">Sobre mim</a>
                            </li>-->
                            <li class="nav-item"><a class="nav-link active" href="#settings"
                                    data-toggle="tab">Configurações</a>
                            </li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="settings">
                                <form class="form-horizontal" action="/atualizar-perfil" method="post">
                                    <div class="form-group row">
                                        <label for="nome" class="col-sm-2 col-form-label">Nome</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="nome" name="nome"
                                                placeholder="<%= usuario.nome %>">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                      <label for="sobrenome" class="col-sm-2 col-form-label">Sobrenome</label>
                                      <div class="col-sm-10">
                                          <input type="text" class="form-control" id="sobrenome" name="sobrenome"
                                              placeholder="<%= usuario.sobrenome %>">
                                      </div>
                                  </div>
                                    <div class="form-group row">
                                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="email"
                                                placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="telefone" class="col-sm-2 col-form-label">Telefone</label>
                                        <div class="col-sm-10">
                                            <input type="tel" class="form-control" id="telefone" name="telefone"
                                                placeholder="<%= usuario.telefone %>">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label for="senha" class="col-sm-2 col-form-label">Senha</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="senha" name="senha"
                                            placeholder="Senha">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="confirmacao" class="col-sm-2 col-form-label">Confirmar Senha</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="confirmacao" name="confirmacao"
                                            placeholder="Repita Senha">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="foto" class="col-sm-2 col-form-label">Foto</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="foto" name="foto">
                                                    <label class="custom-file-label" for="arquivo">Escolher arquivo</label>
                                                </div>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">Upload</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Eu concordo com os <a href="#">termos e
                                                        condições</a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="submit" class="btn btn-success">Enviar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
  
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div><!-- /.content-wrapper -->
  </div><!-- /.wrapper -->
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      &copy; 2023 Breshopp Team
    </div>
    <!-- Default to the left -->
    <strong>Template by <a href="https://adminlte.io">AdminLTE.io</a></strong>
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="plugins/chart.js/Chart.min.js"></script>
<script src="dist/js/pages/dashboard3.js"></script><!-- ChartJS custom script-->
</body>
</html>