<section class="featured spad">
    <div class="container">

        <div class="row featured__filter publicacoesFeatured" id="MixItUp2FB95C">
            <% if(locals.publicacoes) { %>
                
                <% for(let i = publicacoes.length - 1; i > publicacoes.length - 5 && publicacoes[i]; i--){ %>
                    
                    <%//= (publicacoes.length - 1) - i %>
                    <div class="col-lg-3 col-md-4 col-sm-6 publicacaoRecente">
                        <div class="featured__item">
                            <a href="/publicacao/<%= publicacoes[i].id %>/<%= publicacoes[i].titulo %>">
                                
                                <!--<div class="featured__item__pic set-bg" data-setbg="<%//= covers[(publicacoes.length - 1) - i] %>" style='background-image: url("<%//= covers[(publicacoes.length - 1) - i] %>");'></div>-->

                                <div class="featured__item__pic set-bg" data-setbg="/img/<%= fotos[publicacoes[i-1].id_fotos].foto1 %>" style='background-image: url("/img/<%= fotos[publicacoes[i-1].id_fotos].foto1 %>");'></div>
                            
                            </a>
                            <div class="featured__item__text">
                                <a href="/publicacao/<%= publicacoes[i].id %>/<%= publicacoes[i].titulo %>">
                                    <h6><%= publicacoes[i].titulo %></h6>
                                </a>
                                <% if(publicacoes[i].tipo_negociacao.toUpperCase() == "VENDA") { %>
                                    <h5>R$ <%= publicacoes[i].preco %></h5>
                                <% } else { %>
                                    <h5>TROCA</h5>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    
    </div>
</section>