<section class="featured spad">
    <div class="container">

        <div class="row featured__filter publicacoesFeatured" id="featured">
            <% if(locals.publicacoes) { %>
                <% for(let i = publicacoes.length - 1; i >= 0 && publicacoes[i]; i--){ %>
                    <div class="col-lg-3 col-md-4 col-sm-6 publicacaoRecente">
                        <div class="featured__item">
                            <a href="/publicacao/<%= publicacoes[i].titulo %>-<%= publicacoes[i].id %>">
                                <div class="featured__item__pic set-bg" data-setbg="/img/<%= fotos[i] %>" style='background-image: url("/img/<%= fotos[i] %>");'></div>
                            </a>
                            <div class="featured__item__text">
                                <a href="/publicacao/<%= publicacoes[i].titulo %>-<%= publicacoes[i].id %>">
                                    <h6><%= publicacoes[i].titulo %></h6>
                                </a>
                                <% if(publicacoes[i].tipo_negociacao.toUpperCase() == "VENDA") { %>
                                    <h5>R$ <%= publicacoes[i].preco %></h5>
                                <% } else { %>
                                    <h5>TROCA</h5>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <%// if(i == publicacoes.length - 4) i = -1; %>
                <% } %>
            <% } %>
        </div>
    
    </div>
</section>