<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('head') %>
</head>
<body>
    <%- include('header') %>
    <%- include('hero') %>
    <%- include('featured') %>
    <%- include('footer') %>
    
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        // fazer fetch dos ids para construir e preencher a lista de categorias com os links apropriados  
    </script>

</body>
</html>