<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('head') %>
</head>
<body>
    <%- include('header') %>
    <%- include('hero') %>
    <%- include('featured') %>
    <%- include('footer') %>
    
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        
        // fuzzy search

        // latest featured publications
        /*fetch('http://localhost:3000/api/publicacao').then(
            (data) => data.json()
        ).then(
            (data) => {
                let destaquesPub = document.querySelector('#destaquesPub');
                //console.log(destaquesPub);
                for(let i = 0; i < 4; i++) {
                    console.log(destaquesPub[i])
                }
            }
        )*/

    </script>

</body>
</html>