<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large" src="/img/<%= fotos.foto1 %>"
                            alt="">
                    </div>
                    <div class="product__details__pic__slider owl-carousel owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(-862px, 0px, 0px); transition: all 1.2s ease 0s; width: 1725px;">
                                <div class="owl-item cloned" style="width: 123.75px; margin-right: 20px;"><img
                                        data-imgbigurl="/img/<%= fotos.foto1 %>"
                                        src="/img/<%= fotos.foto1 %>" alt=""></div>
                                <div class="owl-item cloned" style="width: 123.75px; margin-right: 20px;"><img
                                        data-imgbigurl="/img/<%= fotos.foto2 %>"
                                        src="/img/<%= fotos.foto2 %>" alt=""></div>
                                <div class="owl-item cloned" style="width: 123.75px; margin-right: 20px;"><img
                                        data-imgbigurl="/img/<%= fotos.foto3 %>"
                                        src="/img/<%= fotos.foto3 %>" alt=""></div>
                                <div class="owl-item cloned" style="width: 123.75px; margin-right: 20px;"><img
                                        data-imgbigurl="/img/<%= fotos.foto4 %>"
                                        src="/img/<%= fotos.foto4 %>" alt=""></div>
                            </div>
                        </div>
                        <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                                    aria-label="Previous">‹</span></button><button type="button" role="presentation"
                                class="owl-next"><span aria-label="Next">›</span></button></div>
                        <div class="owl-dots disabled"><button role="button"
                                class="owl-dot active"><span></span></button></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3><%= publicacao.titulo %></h3>
                    <!--<div class="product__details__rating">
                        <i class="fa fa-star text-primary"></i>
                        <i class="fa fa-star text-primary"></i>
                        <i class="fa fa-star text-primary"></i>
                        <i class="fa fa-star text-primary"></i>
                        <i class="fa fa-star-half-o text-primary"></i>
                        <span>(18 avaliações)</span>
                    </div>-->
                    <% if(publicacao.tipo_negociacao.toUpperCase() == "VENDA") { %>
                        <div class="product__details__price">R$ <%= publicacao.preco %></div>
                    <% } else if(publicacao.tipo_negociacao.toUpperCase() == "TROCA") { %>
                        <div class="product__details__price">Troca</div>
                    <% } %>
                    
                    <!-- <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam
                        vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Vestibulum ac diam sit amet
                        quam vehicula elementum sed sit amet dui. Proin eget tortor risus.</p>-->

                    <!--<a href="checkout.html" class="primary-btn">Negociar <i class="fa fa-whatsapp"></i></a>-->
                    <button type="submit" class="btn btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-whatsapp" viewBox="0 0 16 16" style="--darkreader-inline-fill: currentColor;"
                            data-darkreader-inline-fill="">
                            <path
                                d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z">
                            </path>
                        </svg>
                        <strong>NEGOCIAR: <%= usuario.telefone %></strong>
                    </button>
                    <div class="col align-center">Anunciado por: <a href="#"><h5><%= usuario.nome + " " + usuario.sobrenome %></h5></a></div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                aria-selected="true">Descrição</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="false">Dados
                                do
                                Anunciante</a>
                        </li>
                        <!--<li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="false">Information</a>
                            </li>-->
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <!--<h6>Descrição</h6>-->
                                <p><%= publicacao.descricao_produto %></p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <p><%= publicacao.descricao_vendedor %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <i class="nav-link fa fa-tag" style="margin-top: 4px;"></i>
                    </li>
                    <!-- Primeiro item sempre será uma das categorias do site preferencialmente. Administradores terão que
                        se certificarem disso ou talvez possamos implementar uma selector para os anunciantes (lembrar de adicionar opção "Nenhum")-->
                    <li class="nav-item">
                        <a class="nav-link" href="/categoria/<%= categoria.nome %>#featured"><%= categoria.nome %></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>