<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('head') %>
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
  <div class="wrapper">
    <%- include('navbar') %>
    <%- include('sidebar') %>
    <div class="content-wrapper">
      <%- include('header') %> <!-- conteúdo anterior está atualmente em head.ejs -->
      <%- include('main') %>
    </div>
    <%- include('controlsidebar') %>
    <footer class="main-footer">
      <%- include('footer') %>
    </footer>
  </div>
  <%- include('scripts') %>
</body>
</html>